<.flash_group flash={@flash} />
<div class="elixir-gist-gradient flex items-center justify-center">
  <h1 class="font-brand font-bold text-3xl text-white">
    Compartilhe código, snippets e anotações em Elixir instantâneamente
  </h1>
</div>
